body {
    text-align: center;
    background: #22313F;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

p {
    font-size: 22px;
}

img {
	width: 500px;
}

input {
    width: 600px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

a {
    border: 1px black;
    font-size: 18px;
    border-radius: 10px;
    background: white;
    color: black;
    text-decoration: none;
    padding: 5px 25px 5px 25px;
}

a:hover {
	cursor: pointer;
	color: red;
}

