body {
    text-align: center;
    background: #22313F;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

p {
    font-size: 22px;
}

img {
	width: 300px;
}

input {
    width: 600px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

button {
    font-size: 18px;
    width: 125px;
    height: 50px;
    background: red;
    color: white;
}

button:hover {
	cursor: pointer;
	color: yellow;
}